*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    display: flex;
    background-color: #fddfc9;
    justify-content: center;
}


.background{
    background-color: #FFF4DB;
    width: 65vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

.imagem-home{
    align-items: center;
    display: flex;
    position: relative;
    width: 100%;
    height: 85vh;
}

.imagem-home img{
    position: absolute;
    transform: scaleX(-1);
    width: 100%;
    height: 100%;
    filter: brightness(90%);
}

.textos{
    margin-left: 8%;
    color: white;
    text-align: center;
    width: 35%;
    z-index: 1;
}

.textos button{
    font-family: 'Haneman';
    margin-top: 3vh;
    font-size: 169%;
    border-radius: 15px;
    height: 7.5vh;
    width: 55%;
    background-color: #F89B23;
    cursor: pointer;
    transition: transform 0.15s;
}

.textos button:hover{
    transform: scale(1.07);
}

.textos h1{
    font-size: 4.2vw;
    font-family: 'Kameron';
}

.textos h2{
    font-size: 1.75vw;
    font-family: 'Judson';
}

.informacoes{
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
    width: 80%;
    align-items: center;
}

.informacoes p{
    width: 85%;
    text-indent: 25px;
    text-align: justify;
    font-size: 1.1vw;
    font-family: 'Judson';
}

.informacoes img{
    padding-bottom: 30px;
    height: 100%;
    width: 70%;
}

.sobreocaju{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 7vh;
    background-color: #EF7D36;
    width: 100%;
    height: auto;
    border-bottom: 3px solid #fe904b;
    justify-content: center;
    align-items: center;
}

.sobreocaju h1{
    display: flex;
    font-size: 2.5vw;
    font-family: 'Franklin Gothic Medium';
    margin: 0.7vh;
}


.sobreaturma{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 7vh;
    background-color: #EF7D36;
    width: 100%;
    height: auto;
    border-bottom: 3px solid #fe904b;
    justify-content: center;
    align-items: center;
}

.sobreaturma h1{
    display: flex;
    font-size: 2.5vw;
    margin-top: 0.5vh;
    font-family: 'Franklin Gothic Medium';
}

.sobreaturma h2{
    margin-bottom: 0.5vh;
    text-align: left;
    display: flex;
    font-size: 1.4vw;
    font-family: 'Julius Sans One';
}

.sobre-caju{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin-top: 4vh;
}

.sobre-caju img{
    width: 38%;
    height: 40vh;
    padding-bottom: 30px;
}

.sobre-caju p{
    font-family: 'Judson';
    width: 85%;
    display: flex;
    text-indent: 25px;
    text-align: justify;
    font-size: 1.1vw;
}

@media (max-width: 1000px){


    .sobre-caju{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
        margin-top: 4vh;
        
    }
    .sobre-caju img{
        width: 40%;
        height: 28vh;
        padding-bottom: 3vh;
        filter: brightness(0.79);
    }

    .sobre-caju p{
        display: flex;
        text-indent: 25px;
        text-align: justify;
        font-size: 3.8vw;
    }

    .imagem-home{
        height: 31vh;
    }

    .background{
        width: 100%;
        margin-left: 0;
    }

    .textos{
        width: 40%;
    }

    .textos h1{
        font-size: 10vw;
    }
    .textos h2{
        font-size: 3.8vw;
    }
    .textos button{
        font-size: 3.9vw;
        height: 4.5vh;
        width: 88%;
    }
    .informacoes{
        width: 90%;
        align-items: center;
    }
    .informacoes p{
        font-size: 3.8vw;
    }

    .informacoes img{
        height: 25vh;
        width: 95%;
    }

    .sobreocaju{
        width: 100%;
        height: 5vh;
        border-bottom: 2px solid #fe904b;
    }
    
    .sobreocaju h1{
        display: flex;
        font-size: 6vw;
        font-family: 'Franklin Gothic Medium';
    }
    
    
    .sobreaturma{
        margin-top: 2.5vh;
        border-bottom: 2px solid #fe904b;
    }
    
    .sobreaturma h1{
        font-size: 6vw;
    }
    
    .sobreaturma h2{
        font-size: 3vw;
    }
}
